* {
	background-color: silver;
}

#header {
	height: 4.5rem;
}

#header_logo {
	width: 100%;
	background-image: url("/logo.png");
	background-size: cover;
}

#menu {
	width: 100%;
	background-image: url("/menu.png");
	background-size: cover;
}